{% comment %}{% extends 'core/base.html' %}{% endcomment %}
{% load widget_tweaks %}

{% comment %}{% block title %} Редактировать {{ object.title }} - TrashJournal {% endblock %}{% endcomment %}


    {% comment %}<ol class="breadcrumb">
        <li><a href="{% url "core:index" %}">Главная</a></li>
        <li><a href="{% url "posts:showBloglist" %}">Блоги</a></li>
        <li><a href="{% url "posts:showBlog" pk=blog.id %}">{{ blog.title }}</a></li>
        <li class="active">Редактировать блог</li>
    </ol>{% endcomment %}

<form method="post" class="ajaxform" action="{% url 'posts:editblog' pk=blog.id %}">
    <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Редактировать</h4>
    </div>
    <div class="modal-body editblog-form">
        {% csrf_token %}
        <div>Заголовок: </div>{{ form.title|add_class:"form-control" }}<br><br>
        <div>Описание: </div>
        {{ form.description|add_class:"form-control" }}<br>
    </div>
    <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            <button type="submit" class="btn btn-primary">Изменить</button>
    </div>
</form>

    {% comment %}<form method="post">
        {% csrf_token %}
        <div>Заголовок: </div>{{ form.title|add_class:"form-control" }}<br><br>
        <div>Описание: </div>
        {{ form.description|add_class:"form-control" }}<br>
        <button type="submit" class="btn btn-default">Изменить</button>
    </form>{% endcomment %}