{% extends "core/base.html" %}

{% load static %}

{% block title %}Новости - TrashJournal{% endblock %}

{% block extra %}
    <script src="{% static "posts/js/posts.js" %}"></script>
    <link rel="stylesheet" href="{% static "posts/сss/blogs.css" %}">
{% endblock %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="{% url "core:index" %}">Главная</a></li>
        <li class="active">Новости</li>
    </ol>

    <div class="container">
    {% for post in object_list %}
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-10 col-sm-12">
                            <div class="blog-heading">
                                <a href="{% url "posts:showComments" pk=post.id %}">{{ post.title }}</a>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            {% if post.author == request.user or request.user.is_staff %}
                            <div align="right">
                                <a class="modalopen" href="{% url 'posts:editpost' pk=post.id %}" data-url="{% url 'posts:editpost' pk=post.id %}" data-toggle="modal" data-target="#editModal">Редактировать</a>

                                {% comment %}<a href="{% url "posts:editpost" pk=post.id %}"> Редактировать</a>{% endcomment %}
                            </div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="row">
                       <div class="col-md-9 col-sm-12">
                            <span>
                                <a href="{% url "core:userinfo" pk=post.author.id %}">{{ post.author }}</a> в блоге <a href="{% url "posts:showBlog" pk=post.blog.id %}">{{ post.blog.title }}</a>
                            </span>
                       </div>
                        <div class="col-md-3 col-sm-12">
                            <div align="right">
                                {{ post.created_at.day }}.{{ post.created_at.month }}.{{ post.created_at.year }} {{ post.created_at.hour }}:{{ post.created_at.minute }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <article>
                        <div class="long_text_area">
                            {{ post.text }}
                        </div>
                    </article>
                </div>
                <div class="panel-footer">
                    <span class="likecount-{{ post.id }}" data-count="{{ post.liked }}">Оценили: {{ post.liked }}</span>

                    {% if post.id in liked_by_user %}

                        <button class="btn btn-primary ajaxlike" id="likes-{{ post.id }}" data-url="{% url "posts:post_ajax_like" pk=post.id %}" data-postid="{{ post.id }}">Разонравилось!</button>

                    {% else %}

                        <button class="btn btn-info ajaxlike" id="likes-{{ post.id }}" data-url="{% url "posts:post_ajax_like" pk=post.id %}" data-postid="{{ post.id }}">Мне нравится!
                        </button>

                    {% endif %}
                </div>
            </div>
            <hr align="left" size="2" width="100%" />
        </div>
    {% endfor %}
    </div>
{% endblock %}